body{
    justify-content: center;
    align-content: center;
    background-image: url(assets/1.jpg);
    display: flex;
}

.centro{
    padding: 20px;
    width: 700px;
    background-color: black;
    color: white;

}

input{
    border-radius: 4px;
}

textarea{
    border-radius: 4px;
}

